@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    background-color: #000000;
    color: #FFFFFF;
}
body {
    font-family: 'Roboto', sans-serif;
}
a {
    color: #FFFFFF;
    text-decoration: none;
}
li {
    list-style-type: none;
    display: inline;
    padding: 0 20px;
}

/* Menu */

.header-menu {
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
}
.nav-bar {
    align-items: center;
    display: flex;
    background-color: #F0A83E;
    height: 100px;
    justify-content: space-between;
    padding: 0 40px;
}

.menu {
    display: flex;
}

.nav-bar-links {
    color: #FFFFFF;
    font-size: 13px;
}

/* Logos */

.logo {
    font-size: 20px;
    padding-left: 20px;
}

.front-log {
    color: #000000;
}

.cat-logo {
    color: #FFFFFF;
}

.title {
    font-size: 30px;
    text-align: center;
}

/* Banner section */

.banner {
    background-image: url("../img/banner.png");
    background-size: cover;
    height: 800px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.banner-content a {
    background-color: #F0A83E;
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
}

.banner-container {
    padding: 300px 280px;
}

.banner-content p {
    margin: 20px 0 40px 0;
}

h2 {
    width: 365px;
    height: 54px;
    background-color: #FFFFFF;
    text-align: center;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 30px;
    margin-bottom: 20px;
}

h1 {
    font-size: 40px;
}

/* Cards section */
.main-products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.products-title h3 {
    margin-top: 25px;
    font-size: 15px;
}

.products-cards {
    display: flex;
}

.cards {
    background-color: #FBFAF6;
    margin: 40px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price {
    color: #F0A83E;
    text-align: center;
}

/* Footer */

.logo-footer {
    margin: 200px;
    font-size: 20px;
}

.copyright{
    background-color:#000000;
    color: #FFFFFF;
    text-align: center;
    padding-top: 5px;
    height: 30px;
}

/* Contacto */

.contact {
    background-color: #3C2313;
    color: #FFFFFF;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.contact-info {
    display: flex;
    margin: 50px;
}

.contact-info p {
    padding-left: 30px;
}

.front {
    color: #FFFFFF;
}
.cat {
    color: #F0A83E;
}


/* Media queries */

@media screen and (max-width: 480px) {
    .products-cards {
        flex-direction: column;
    }
    .contact {
        flex-direction: column-reverse;
        align-items: center;
    }

    .logo-footer {
        margin: 0;
        
    }
}